[Desktop Entry]
Type=Application
Version=1.0
Name=Cmap Tools
Terminal=false
Icon= /usr/share/cmaptools/concept-map-cmaptools.png
Categories=Graphics;
Exec= /usr/share/cmaptools/CmapTools.lnk
MimeType=

